.gradle/
.idea/
local.properties
**/build/
__pycache__/
*.pyc
.venv/
.env
*.db
.DS_Store
Thumbs.db

*.db-journal
*.db-shm
*.db-wal

.env.*
!**/.env.example
*.keystore
*.jks
*.apk
*.aab
.pytest_cache/
*.sqlite3
android/local.properties
